.git
.gitignore
.dockerignore

.env
.venv
env
venv
ENV

__pycache__
*.py[cod]
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

*.log
*.swp
*.code-workspace

dist
build
*.egg-info

docker-compose*.yml
docker/*.yml
docker/*.yaml
